@font-face {
  font-family: Aller;
  src: url("../fonts/aller/aller_bd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/aller/aller_bd.eot?#iefix") format("embedded-opentype"),
    url("../fonts/aller/aller_bd.woff") format("woff"),
    url("../fonts/aller/aller_bd.ttf") format("truetype"),
    url("../fonts/aller/aller_bd.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

.header-gradient,
.header {
  background: #4a90e2;
  background: -webkit-linear-gradient(left, #4a90e2, #d56fa1);
  background: -o-linear-gradient(right, #4a90e2, #d56fa1);
  background: -moz-linear-gradient(right, #4a90e2, #d56fa1);
  background: linear-gradient(to right, #4a90e2, #d56fa1);
}

.header {
  padding: 40px 0;
  margin-bottom: 40px;
}
.header .logo {
  margin: 40px 0;
}
.header .title {
  margin-top: 0;
  font-family: Lato;
  font-weight: lighter;
  font-style: italic;
  color: white;
}
.header .subtitle {
  font-family: Lato;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}
.header .store-button {
  max-width: 45%;
  height: auto;
}

#terms-and-conditions .terms-and-conditions-section {
  margin: 10px 0;
}
#terms-and-conditions .terms-and-conditions-section.grey {
  background-color: #f8f8fb;
}
#terms-and-conditions .terms-and-conditions-section .section-title {
  color: #979797;
}

#about .about-section {
  margin: 10px 0;
}
#about .about-section.grey {
  background-color: #f8f8fb;
}

#about .text-section {
  margin-top: 30px;
  margin-bottom: 100px;
}

.how-to-section {
  margin: 10px 0;
  padding: 20px 0;
}
.how-to-section.grey {
  background-color: #f8f8fb;
}

.text-wrapper {
  height: 400px;
  position: relative;
}
.text-wrapper .section-text {
  position: absolute;
  top: 40%;
  height: 100px;
  margin-top: -50px;
}

.title {
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  color: #979797;
  margin-bottom: 30px;
}

.section-header {
  font-family: Aller;
  font-weight: bold;
  color: #6e7fd8;
}

.subtext {
  font-family: Lato;
  font-size: 18px;
  color: #919191;
}

.how-to-image {
  height: 400px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .text-wrapper {
    height: auto;
    position: static;
  }
  .text-wrapper .section-text {
    position: static;
    height: auto;
    margin-top: 0;
  }
  .how-to-image {
    height: 200px;
  }
}
.navbar {
  height: 80px;
  background-color: #474e5d;
  overflow: hidden;
  position: sticky;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  user-select: none;
}
@media only screen and (max-width: 859px) {
  .navbar {
    display: none;
  }
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}
.navlogo {
  height: 80px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 100%;
  width: 100%;
  background-image: url(Images/Logo/ss.png);
  background-size: cover;
  background-position: center;
}
.navlogo:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  filter: brightness(1.1);
  opacity: 0.8;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.navigation a {
  font-size: 1.2em;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  bottom: -4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}
.navigation .btnLogin-popup:hover {
  background-color: #fff;
  color: #333;
}
.navbar0 {
  height: 160px;
  background-color: #474e5d;
  overflow: hidden;
  position: sticky;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
@media only screen and (min-width: 860px) {
  .navbar0 {
    display: none;
  }
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: #474e5d;
  display: block;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
